.choosenproduct_frame {
    position: relative;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.choosenproduct_frame .product_info_frame {
    margin-bottom: 90%;
    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;
}

.product_info_frame .container {
    flex-direction: row;
}

.product_info_frame .container .product_images_main {
    width: 631px;
    height: auto;

    display: flex;
    flex-direction: column;
}
