html, body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}
p {
    margin: 0;
}

.container {
    position: relative;
    width: 1320px;
    height: auto;
    display: flex;
    /* flex-direction: column; */
}

.navbar_frame .container {
    padding: 20px 0 14px;
   flex-direction: column;
}

.navbar_frame {
    position: relative;
    width: 100%;
    height: 145px;

    display: flex;
    justify-content: center;
    flex-direction: row;

    background-color: rgb(68,50,151);
  }
  

.navbar_frame .nav_search_frame {
  width:651px ;
  height:50px ;
  border-radius: 6px;
  background: rgb(255,255,255);
  display: flex;
  flex-direction: row ;
}

.navbar_frame .container .nav_top {
  width: 100%;
  height: 50px;
  /* background-color: aqua; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
 .navbar_frame .nav_search_frame .search_box {
    padding: 10px  17px;
 display: flex;
 flex-direction: row;
 align-items: center;
}
 .navbar_frame .category_list select {
    width: 140px;
    height: 30px;
    border: none;
    outline: none;

    color: rgb(4,30,66);
    font-family: Jost;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    
}

 .navbar_frame .search_box input {
    margin-left: 12px;
  width: 387px;
  height: 22px;

border: none;
outline: none;
  color: rgb(98,105,116);
  font-family: Jost;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
}
.navbar_frame .nav_search_frame .search_icon {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 6px 6px 0px;
    background-color: rgb(245, 195, 75);

 }

.navbar_frame .nav_search_frame .search_icon img {
    width: 30px;
    height: 30px;
 }

.navbar_frame .search_box .category_list {
  width: 166px;
  height: 30px;

  border-right: 1px solid rgb(214, 214, 214);
}

.navbar_frame .nav_top .nav_top_menu {
    width: 416px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: red; */
} 

.navbar_frame .nav_top_menu .top_menu_box {
    display: flex;
    flex-direction: row;
}

.navbar_frame .top_menu_box .box_icon_box {
    position: relative;
    width: 54px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 6px;
}
.navbar_frame .top_menu_box .box_info_box {
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.navbar_frame .box_info_box span {
    color: rgb(255,255,255);
    font-family: Jost;
    font-style: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;

}

.navbar_frame .box_info_box strong {
   color: rgb(255,255,255);
    font-family: Jost;
    font-style: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
}

.navbar_frame .box_icon_box .basket_count {
    position: absolute;
    top: 0%;
    right: 0%;

    width: 15px;
    height:15px ;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: rgb(245, 195, 75);
    color: rgb(11, 30, 64);
    font-family: Jost;
    font-size: 10px;
    font-weight: 700;
    line-height: 10px;
    letter-spacing: 0%;
    text-align: left;
}

.navbar_frame .container .navbar_bott {
    margin-top: 20px;
    border-top: 1px solid #5747a2;
}

.navbar_frame .navbar_bott .navbar_bott_menu_box {
    margin-top: 10px;
    height: 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar_frame .navbar_bott .browse_box {
    width: 185px; 
    display: flex;
    flex-direction: row;
    align-items: center;
    border-right: 1px solid #5747a2;
}

.navbar_frame .browse_box img {
    width: 20px;
    height: 18px;
}

.navbar_frame .browse_box span {
    margin-left: 10px;
    color: rgb(255, 255, 255);
    font-family: Jost;
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
}


.navbar_frame .navbar_bott_menu_box .navbar_route_menu {
    width: 670px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.navbar_frame .navbar_route_menu a {
    margin-right: 10px;
    color: #fff;
    font-family: Jost;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.navbar_frame .navbar_route_menu a.title {
    color: #f5c34b;
}

.navbar_frame .navbar_bott_menu_box .sorting_menu {
    align-items: center;
    display: flex;
    justify-content: row;
}
.navbar_frame .sorting_menu span {
    margin-left: 10px;
     color: rgb(255, 255, 255);
    font-family: Jost;
    font-size: 16px;
    font-weight: 400;
}

/* Home page */
.home_page {
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
}

.container .category_top {
   width: 100%;
   height: auto;

   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

.container .category_top span {
   font-family: Jost;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
    text-transform: capitalize;
    color: #041e42; 
}

.container .category_top a {
   font-family: Jost;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    text-transform: capitalize;

    color: #041e42; 
}

.container .category_top a:hover {
   border-bottom: 2px solid #041e42;
}

.header_frame {
    position: relative;
    margin-top: 47px;
    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;
}

 .header_frame .container {
    flex-direction: row;
}

.header_frame .container .header_left {
    padding: 15px;
    position: relative;
    width: 875px;
    height: 508px;
    border-radius: 5px;
  background-color: #0053f6 ;
    background-image: url(../images/icons/header_bg.svg);
}

.header_frame .header_left .header_content {
    margin-top: 90px;
    display: flex;
    flex-direction: column;
}

.header_frame .header_content div {
    width:104px ;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    background: #f5c34b;
    border-radius: 6px;

    font-family: Jost;
    font-style: normal;
    font-weight:500px ;
    font-size: 15px;
    line-height: 22px;

    color:#041e42 ;
}

.header_frame .header_content span {
    width: 428px;
    margin-top: 10px;

    font-family: Jost;
    font-style: normal;
    font-weight: 400;
    font-size:60px;
    line-height: 87px;
  color: #ffffff;
}

.header_frame .header_content p {
    margin-top: 10px;
     
    font-family: Jost;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  color: #ffffff;

}


.header_frame .header_content a {
    margin-top: 20px;
    width: 140px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;

    background: #ffffff;

    font-family: Jost;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #041e42;

    /* border: 1px solid #ffffff; */
    border-radius: 6px;
}

.header_frame .header_content img {
    position: absolute;
    right: 10px;
}

.header_frame .container .header_right {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header_frame .header_right .header_box {
    margin-left: 26px;
    width: 422px;
    height: 240px;

    display: flex;
    flex-direction: row;
    background: #f2f2f2;
    border-radius: 5px;
}

.header_frame .header_right .box_left {
    margin-left: 30px;
    width:50% ;

    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.header_frame .box_left span {
    font-family: Jost;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #0053f6;
}

.header_frame .box_left p {
    margin: 10px 0;
     font-family: Jost;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 38px;
    color: #041e42;
}

.header_frame .box_left a {
     font-family: Jost;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #041e42;
}

.header_frame .box_left .hover_border {
    margin-top: 3px;
    width: 32px;
    height: 2px;

    background: #041e42;
}

.header_frame .box_left .hover_border2 {
    margin-top: 3px;
    width: 130px;
    height: 2px;

    background: #041e42;
}

.header_frame .header_box .box_right {
    width: 50%;

}

.header_frame .box_right img {
  width: 100%;
  height: 100%;
  
}

.home_page .service_frame {
    margin-top: 30px;
    position: relative;
    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;
}

.service_frame .container {
    flex-direction: row;
}

.service_frame .container .service_box {
    width: 25%;
    height: 86px;

    display: flex;
    flex-direction: row;

    border-bottom: 1px solid #eaeaea;
}
.service_frame .service_box img {
    width: 35px;
    height: 35px;
}

.service_frame .service_box .service_content {
    margin-left: 14px;
    display: flex;
    flex-direction: column;
}


.service_frame .service_content span {
    font-family: Jost;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #041e42;
}

.service_frame .service_content p {
    font-family: Jost;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #626974;
}

.shop_category_frame {
    position: relative;
    margin-top: 90px;
    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;

}

.shop_category_frame .container {
    flex-direction: column;
}

.shop_category_frame .container .category_top {
   width: 100%;
   height: auto;

   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

.shop_category_frame .category_top span {
   font-family: Jost;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
    color: #041e42; 
}

.shop_category_frame .category_top a {
   font-family: Jost;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;

    color: #041e42; 
}

.shop_category_frame .category_top a:hover {
   border-bottom: 2px solid #041e42;
}

.shop_category_frame .container .category_wrapper {
    margin-top: 30px;
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;

}

.shop_category_frame .category_wrapper .category_box {
    width: 142px;
    height: auto;

    display: flex;
    flex-direction: column;
}

.shop_category_frame .category_box .category_img_box {
    width: 100%;
    height: 150px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid #eaeaea;
    border-radius: 150px;
}

.shop_category_frame .category_box span {
    margin-top: 15px;
     font-family: Jost;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;

    text-align: center;

    color: #041e42; 
}

/* Selling products */


.selling_product_frame {
    position: relative;
    margin-top: 60px;
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.selling_product_frame .container {
    flex-direction: column;
}

.container .product_wrapper {
    position: relative;
    margin-top: 30px;
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}

.product_wrapper .next_prev_box {
    width: 25px;
}

.next_prev_box img {
    position: absolute;
    top: 50%;
}

.product_wrapper .product_boxes {
position: relative;

width: 1224px;
height: 452px;

display: flex;
flex-direction: row;
}

.product_boxes .product_box {
    width: 306px;
    height: 100%;

    display: flex;
    flex-direction: column;
    /* cursor: pointer; */
}

.product_box .product_img_box {
    width: 100%;
    height: 280px;
}

.product_img_box .hover_box {
    margin-bottom: 10px;
    display: none;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.hover_box button {
    width: 260px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;

    background: #0053f6;
    box-shadow: 0px 5px 20px rgb(0, 83, 246, 0.1);
    border-radius: 6px;

    font-family: Jost;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;

    color: #ffffff;
}

.product_img_box:hover .hover_box {
    display: flex;
}

.product_box .product_content_box {
   padding: 5px 22px;
   width: 100%;
   height: auto;
   box-sizing: border-box;
}

.product_content_box .product_title {
    font-family: Jost;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    text-transform: uppercase;

    color: #626974;
}

.product_content_box .product_desc {
    font-family: Jost;
    height: 56px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    text-transform: uppercase;
    overflow: hidden;

    color: #041e42;
}

.product_content_box .review_box {
    margin-top: 7px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.review_box img {
    margin-right: 5px;
}

.review_box span {
    margin-left: 10px;
     font-family: Jost;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;

    color: #626974;
}

.product_content_box .price_box {
    margin-top: 10px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.price_box strong {
     font-family: Jost;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;

    color: #041e42;
}

.price_box span {
    margin-left: 10px;
     font-family: Jost;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-decoration: line-through;

    color: #626974;
}